{% block navbar %}
{% if page.navbar_social or page.primary_menu %}
{# Top navbar #}
<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/">
          <img src="{{ base_path ~ directory }}/assets/images/kodamera-logo-white.png" alt="Kodamera" />
        </a>
      </div>
    </div>
    <div id="js-navbar-menu" class="navbar-menu">
      {% if page.primary_menu %}
      {{ page.primary_menu }}
      {% endif %}
    </div>
  </div>
</nav>
{% endif %}
{% endblock navbar %}

{% block main %}
  {% block main_content %}
    {{ page.content }}
  {% endblock main_content %}
{% endblock main %}

{% block footer_bottom %}
  {% if page.footer_bottom %}
    {{ page.footer_bottom }}
  {% endif %}
{% endblock footer_bottom %}

<footer role="contentinfo" class="footer">
  <div class="container">
    <img style="position: absolute;" src="{{ base_path ~ directory }}/assets/images/kodamera-logo-white.png" alt="Kodamera" />
    </div>
  </div>
</footer>
