<div class="container">
  <div class="paragraph-puffar">
    <div class="columns is-gapless">
      <div class="column">
        <div class="image-box-2 gap-center">
          <div class="darkness"></div>
          {{ content.field_paragraph_puff_image_1 }}
          <div class="puff-text-2">
            {{ content.field_paragraph_puff_text_1 }}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="image-box-2 gap-center">
          <div class="darkness"></div>
          {{ content.field_paragraph_puff_image_2 }}
          <div class="puff-text-2">
            {{ content.field_paragraph_puff_text_2 }}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="image-box-3 gap-left">
          <div class="darkness"></div>
          {{ content.field_paragraph_puff_image_3 }}
          <div class="puff-text-3">
            {{ content.field_paragraph_puff_text_3 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
