<div class="container">
  <div class="paragraph-puffar">
    <div class="columns">
      <div class="column">
        <div class="image-box pad-right">
          {{ content.field_paragraph_puff_image_1 }}
        </div>
        <span class="puff-text">
          {{ content.field_paragraph_puff_text_1 }}
        </span>
      </div>
      <div class="column">
        <div class="image-box pad-center">
          {{ content.field_paragraph_puff_image_2 }}
        </div>
        <span class="puff-text">
          {{ content.field_paragraph_puff_text_2 }}
        </span>
      </div>
      <div class="column">
        <div class="image-box pad-left">
          {{ content.field_paragraph_puff_image_3 }}
        </div>
        <span class="puff-text">
          {{ content.field_paragraph_puff_text_3 }}
        </span>
      </div>
    </div>
  </div>
</div>
